
@model List<Microsoft.AspNetCore.Identity.IdentityUser>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

 @section HeaderRight{
     <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
 
 
 }

        <div class="container">
            <h1 class="mt-5">Users</h1>
            
            <div class="row">

                <div class="col-6">
                    <p><a asp-action="Create" class="btn btn-outline-success">Add User</a></p>
                </div>
            </div>
            

            <table class="table">
  <thead>
    <tr>
      <th scope="col">User Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
   @foreach(var user in Model)
   {

      <tr>
      <th scope="row">@user.UserName</th>
      <td>@user.PhoneNumber</td>
      <td>@user.Email</td>

       <td>
          <a asp-action="Edit" class="btn btn-outline-info" asp-route-userId="@user.Id">Edit</a>
      </td>
      <td>
          <a asp-action="Delete" class="btn btn-outline-danger" asp-route-userId="@user.Id">Delete</a>
      </td>
    </tr>
    
   
   }


  </tbody>
</table>

            
        </div>
